/old/
**/node_modules/
**/dist/
**/.next/
**/.source/
/apps/docs/public/repository/
/apps/docs/content/docs/api/
/apps/docs/content/docs/.api-stage/
/coverage/
**/.turbo/
**/.vitest-attachments/
**/test/__screenshots__/
/.release-candidate/
.DS_Store
